<!-- #Version select -->
{% if show_version_select() %}
  <div class="version-select">
    {% if (theme_version_select_preferred) and (theme_version_select_preferred != theme_version_select_current) %}
      <div
        class="tooltip tooltip-bottom tooltip-open tooltip-warning"
      >
        <div class="tooltip-content pointer-events-auto">
          <a href="{{ get_version_url(theme_version_select_preferred) }}">
          {{ theme_version_select_preferred_warning.replace("$PREFERRED$", theme_version_select_preferred) }}
          </a>
        </div>
    {% else %}
      <div class="tooltip tooltip-bottom" data-tip="Choose a version">
    {% endif %}

    <select
      class="select select-ghost select-sm md:select-md m-1"
      aria-label="Version select"
    >
      {% for data in theme_version_select_data %}
        <option
          value="{{ data.version }}"
          data-url="{{ get_version_url(data.version) }}"
          {% if data.version == theme_version_select_current %}
            selected disabled
          {% endif %}
        >
          {{ data.label or data.version }}
        </option>
      {% endfor %}
    </select>
  </div> {# .tooltip #}
</div>
{% endif %}
<!-- .#Version select -->
